<footer id="contact">
  <p id="about">
    Got Questions? Call or Whatsapp:
    <span id="contact-phone-footer"></span>
  </p>
  <div class="footer-links" id="footer-legal-links"></div>
  <div class="useful-links">
    Useful Links:
    <span id="footer-useful-links"></span>
  </div>
  <p id="facebook-disclaimer"></p>
  <p id="copyright"></p>
  <p id="designer"></p>
</footer>

<link rel="stylesheet" href="{{resolve-from-root 'partials/footer.css'}}" />