<header>
  <nav>
    <img
      class="logo"
      src="/assets/imgs/chrisport-logo.png"
      alt="Chrisport logo"
    />
    <ul id="nav-links"></ul>
    {{! <div class="search-bar">
      <input type="text" placeholder="Search" />
      <button>Search</button>
    </div> }}
  </nav>
</header>

<link rel="stylesheet" href="{{resolve-from-root 'partials/header.css'}}" />
<script type="module" src="{{resolve-from-root 'partials/header.js'}}"></script>