<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Primary Meta Tags -->
<title>Chrisport Ventures - Gym Equipments</title>
<meta name="title" content="Chrisport Ventures - Gym Equipments" />
<meta name="description" content="Gym Equipments." />

<!-- Open Graph / Facebook -->
{{! <meta name="facebook-domain-verification" content="6hwkk8mxsxvr0akzrm1ouxupwnaba1" /> }}
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.christportventures.com/" />
<meta property="og:title" content="Chrisport Ventures - Gym Equipments." />
<meta property="og:description" content="Gym Equipments" />
<meta
  property="og:image"
  content="{{resolve-from-root '/assets/imgs/chrisport-logo.png'}}"
/>